{% extends "bootstrap.html" %}
{% block title %}Session Site - Login{% endblock %}
{% block pagetitle %}Login{% endblock %}
{% block style %}{% endblock %}
{% block content %}
{% if error != '' %}
<div class="alert alert-danger alert-dismissible fade show">
    {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}
<form action="/login" method="POST">
    <label>Username</label>
    <input type="text" name="user" />
    <label>Password</label>
    <input type="password" name="pass" />
    <input type="submit" value="Log in" />
</form>
{% endblock %}
